$input-width:             200px;

$border-color:            #CCC;

$panel-color:             #FFF;
$panel-shadow-color:      #DDD;

$preset-btn-color:        #DDD;
$preset-btn-txt-color:    #000;
$preset-btn-hover-color:  #FFCC00;

$cal-width:               175px;
$cal-color:               #FFF;
$cal-header-color:        #FFF;
$cal-arrow-color:         #CCC;
$cal-arrow-hover-color:   #FFCC00;

$day-color:               #FFF;
$day-txt-color:           #000;
$day-hover-color:         #FFCC00;
$day-selected-color:      #FFCC00;
$day-in-range-color:      #FFE992;
$day-other-month-color:   #DDD;
$other-month-txt-color:   #999;

$mon-yr-btn-color:        #FFF;
$mon-yr-btn-txt-color:    #000;
$mon-yr-btn-hover-color:  #FFCC00;

$action-console-color:    #FFF;
$action-btn-color:        #DDD;
$action-btn-txt-color:    #000;
$action-btn-hover-color:  #FFCC00;


// Assummed  /////////////////

* {
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 0 none;
}

body {
  font-family: arial;
}

// Common  /////////////////

.date-input {
  width: $input-width;
  display: block;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

.panel {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 1px);
  border: 1px solid $border-color;
  background-color: $panel-color;
  z-index: 1000;
  box-shadow: 8px 8px 20px $panel-shadow-color;
}

.presets {
  float: left;
  margin: 5px;
  vertical-align: top;

  button {
    display: block;
    width: 100%;
    margin-bottom: 7px;
    border: 1px solid $border-color;
    background-color: $preset-btn-color;
    text-align: left;
    color: $preset-btn-txt-color;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: $preset-btn-hover-color;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.calendar {
  float: left;
  width: $cal-width;
  background-color: $cal-color;
  border: 1px solid $border-color;
  margin:  5px;

  .header {
    display: table;
    width: 100%;
    height: 25px;
    background-color: $cal-header-color;
    border-bottom: 1px solid $border-color;

    button {
      display: inline-block;
      width: 100%;
      height: 25px;
      border: 0;
      vertical-align: middle;
      background-color: transparent;
      font-weight: bold;
      cursor: pointer;
    }

    .previous-month {
      display: table-cell;
      width: 15px;

      button {

        &:before {
          content: "";
          display: block;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-right: 5px solid $cal-arrow-color;
        }

        &:hover:before {
          border-right: 5px solid $cal-arrow-hover-color;
        }
      }
    }

    .next-month {
      display: table-cell;
      width: 15px;

      button {

        &:before {
          content: "";
          display: block;
          border-top: 5px solid transparent;
          border-bottom: 5px solid transparent;
          border-left: 5px solid $cal-arrow-color;
        }

        &:hover:before {
          border-left: 5px solid $cal-arrow-hover-color;
        }
      }
    }

    .month-select {
      display: table-cell;

      button {
        text-align: right;
        padding-right: 2px;
      }
    }

    .year-select {
      display: table-cell;

      button {
        text-align: left;
        padding-left: 2px;
      }
    }
  }

  .calendar-body {
    width: 100%;
    display: table;
    position: relative;

    .week {
      display: table-row;
      width: 100%;
      clear: both;
    }

    .day {
      display: table-cell;
      height: 20px;
      width: calc(100% / 7);
      background-color: $day-color;
      vertical-align: middle;
      text-align: center;
      font-size: 11px;
      color: $day-txt-color;
      cursor: pointer;

      &:hover {
        background-color: $day-hover-color;
      }

      &.selected {
        background-color: $day-selected-color;
      }

      &.in-range {
        background-color: $day-in-range-color;
      }

      &.other-month {
        background-color: $day-other-month-color;
        color: $other-month-txt-color;
      }
    }

    .month {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background-color: lime;
      overflow: auto;

      button {
        display: block;
        width: 100%;
        border: 0;
        border-bottom: 1px solid $border-color;
        background-color: $mon-yr-btn-color;
        text-align: center;
        color: $mon-yr-btn-txt-color;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: $mon-yr-btn-hover-color;
        }
      }
    }

    .year {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      background-color: lime;
      overflow: auto;

      button {
        display: block;
        width: 100%;
        border: 0;
        border-bottom: 1px solid $border-color;
        background-color: $mon-yr-btn-color;
        text-align: left;
        color: $mon-yr-btn-txt-color;
        text-align: center;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background-color: $mon-yr-btn-hover-color;
        }
      }
    }
  }
}

.action-console {
  float: left;
  clear: both;
  width: 100%;
  padding: 8px;
  background-color: $action-console-color;
  border-top: 1px solid $border-color;
  text-align: right;

  button {
    display: inline-block;
    margin-left: 5px;
    border: 1px solid $border-color;
    background-color: $action-btn-color;
    text-align: left;
    color: $action-btn-txt-color;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: $action-btn-hover-color;
    }
  }
}


// Wrappers /////////////////

.date-range-picker {
  position: relative;
}

.single-date-picker {}

.month-year-picker {
  position: relative;
}

.year-picker {}

.preset-picker {}
