$input-width:             200px;

$border-color:            #CCC;

$panel-color:             #FFF;
$panel-shadow-color:      #DDD;

$preset-btn-color:        #DDD;
$preset-btn-txt-color:    #000;
$preset-btn-hover-color:  #FFCC00;

$cal-width:               175px;
$cal-color:               #FFF;
$cal-header-color:        #FFF;
$cal-arrow-color:         #CCC;
$cal-arrow-hover-color:   #FFCC00;

$day-height:              20px;
$day-color:               #FFF;
$day-txt-color:           #000;
$day-hover-color:         #FFCC00;
$day-selected-color:      #FFCC00;
$day-in-range-color:      #FFE992;
$day-other-month-color:   #DDD;
$other-month-txt-color:   #999;

$mon-yr-btn-height:       25px;
$mon-yr-btn-height-mob:   40px;
$mon-yr-btn-color:        #FFF;
$mon-yr-btn-txt-color:    #000;
$mon-yr-btn-hover-color:  #FFCC00;

$action-console-color:    #FFF;
$action-btn-color:        #DDD;
$action-btn-txt-color:    #000;
$action-btn-hover-color:  #FFCC00;


// Assummptions  /////////////////

* {
  box-sizing: border-box;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 0 none;
}

body {
  font-family: arial;
}


// Common  /////////////////

.dp-date-input {
  width: $input-width;
  display: block;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
}

.dp-panel {
  min-width: 100%;
  position: absolute;
  left: 0;
  top: calc(100% - 1px);
  padding: 5px;
  white-space: nowrap;
  border: 1px solid $border-color;
  background-color: $panel-color;
  z-index: 1000;
  box-shadow: 8px 8px 20px $panel-shadow-color;
}

.dp-presets {
  display: inline-block;
  vertical-align: top;

  button {
    display: block;
    width: 100%;
    margin-bottom: 7px;
    border: 1px solid $border-color;
    background-color: $preset-btn-color;
    text-align: left;
    color: $preset-btn-txt-color;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: $preset-btn-hover-color;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.dp-display-calendar {
  display: inline-block;
  position: relative;
  min-height: $mon-yr-btn-height;
  width: $cal-width;
  background-color: $cal-color;
  border: 1px solid $border-color;
  vertical-align: top;
  padding-top: $mon-yr-btn-height;
}

.dp-display-month-year {
  display: inline-block;
  position: relative;
  min-height: $mon-yr-btn-height;
  width: $cal-width;
  background-color: $cal-color;
  border: 1px solid $border-color;
  vertical-align: top;
  padding-top: $mon-yr-btn-height;
}

.dp-previous-month {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: $mon-yr-btn-height;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 2000;

  &:before {
    content: "";
    display: block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid $cal-arrow-color;
  }

  &:hover:before {
    border-right: 5px solid $cal-arrow-hover-color;
  }
}

.dp-next-month {
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: $mon-yr-btn-height;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  z-index: 2000;

  &:before {
    content: "";
    display: block;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid $cal-arrow-color;
  }

  &:hover:before {
    border-left: 5px solid $cal-arrow-hover-color;
  }
}

.dp-calendar-body {
  width: 100%;
  display: table;
  border-top: 1px solid $border-color;
  position: relative;

  .dp-week {
    display: table-row;
    width: 100%;
    clear: both;
  }

  .dp-day {
    display: table-cell;
    height: $day-height;
    width: calc(100% / 7);
    background-color: $day-color;
    vertical-align: middle;
    text-align: center;
    font-size: 11px;
    color: $day-txt-color;
    cursor: pointer;

    &:hover {
      background-color: $day-hover-color;
    }

    &.dp-selected {
      background-color: $day-selected-color;
    }

    &.dp-in-range {
      background-color: $day-in-range-color;
    }

    &.dp-other-month {
      background-color: $day-other-month-color;
      color: $other-month-txt-color;
    }
  }
}

.dp-btn-month {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: $mon-yr-btn-height;
  padding-right: 2px;
  border: 0;
  background-color: transparent;
  text-align: right;
  font-weight: bold;
  cursor: pointer;

  &.active {
    color: red;
  }
}

.dp-btn-year {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: $mon-yr-btn-height;
  padding-left: 2px;
  border: 0;
  background-color: transparent;
  text-align: left;
  font-weight: bold;
  cursor: pointer;

  &.active {
    color: red;
  }
}

.dp-month-body {
  height: calc(#{$day-height} * 6);
  border-top: 1px solid $border-color;
  overflow: auto;

  button {
    display: block;
    width: 100%;
    height: $mon-yr-btn-height;
    border: 0;
    background-color: $mon-yr-btn-color;
    color: $mon-yr-btn-txt-color;
    font-weight: bold;
    cursor: pointer;

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      background-color: $mon-yr-btn-hover-color;
    }
  }
}

.dp-year-body {
  height: calc(#{$day-height} * 6);
  border-top: 1px solid $border-color;
  overflow: auto;

  button {
    display: block;
    width: 100%;
    height: $mon-yr-btn-height;
    border: 0;
    background-color: $mon-yr-btn-color;
    color: $mon-yr-btn-txt-color;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: $mon-yr-btn-hover-color;
    }
  }
}

.dp-action-console {
  padding: 8px;
  margin: 5px -5px -5px;
  background-color: $action-console-color;
  border-top: 1px solid $border-color;
  text-align: right;

  button {
    display: inline-block;
    margin-left: 5px;
    border: 1px solid $border-color;
    background-color: $action-btn-color;
    text-align: left;
    color: $action-btn-txt-color;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      background-color: $action-btn-hover-color;
    }
  }
}


// Wrappers /////////////////

.dp-date-range-picker {
  display: inline-block;
  position: relative;

  .dp-month-body,
  .dp-year-body {
    position: absolute;
    top: $mon-yr-btn-height;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 1000;
  }
}

.dp-single-date-picker {}

.dp-month-picker {
  display: inline-block;
  position: relative;

  .dp-month-body,
  .dp-year-body {
    height: calc(#{$mon-yr-btn-height} * 5);
  }
}

.dp-year-picker {
  display: inline-block;
  position: relative;

  .dp-display {
    padding-top: 0;
    width: 100%;
  }

  .dp-year-body {
    height: calc(#{$mon-yr-btn-height} * 5);
    border: 0;
  }

  .dp-btn-year {
    display: none;
  }
}

.dp-preset-picker {}


// Responsive /////////////////

@media (max-width: 480px) {

  .dp-previous-month,
  .dp-next-month,
  .dp-btn-month,
  .dp-btn-year,
  .dp-month-body button,
  .dp-year-body button {
    height: $mon-yr-btn-height-mob;
  }

  .dp-previous-month,
  .dp-next-month {
    width: 25px;
  }

  .dp-display-calendar {
    min-height: $mon-yr-btn-height-mob;
    padding-top: $mon-yr-btn-height-mob;
  }

  .dp-display-month-year {
    min-height: $mon-yr-btn-height-mob;
    padding-top: $mon-yr-btn-height-mob;
  }

  .dp-presets,
  .dp-display-calendar,
  .dp-display-month-year {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }

  .dp-presets button {
    height: 30px;
    text-align: center;
  }

  .dp-action-console button {
    height: 30px;
  }


  // Wrappers

  .dp-date-range-picker,
  .dp-month-picker {
    display: block;
    width: 100%;

    button {
      font-size: 14px;
    }

    .dp-day {
      height: $mon-yr-btn-height-mob;
    }

    .dp-month-body,
    .dp-year-body {
      top: $mon-yr-btn-height-mob;
    }
  }

  .dp-month-picker,
  .dp-year-picker {

    .dp-month-body,
    .dp-year-body {
      height: calc(#{$mon-yr-btn-height-mob} * 5);
    }
  }
}

