$cal-width:           100%;

$panel:               #FFF;
$panel-border:        #CCC;

$preset-btn:          #DDD;
$preset-btn-txt:      #000;
$preset-btn-border:   #CCC;
$preset-btn-hover:    #EEE;

$cal:                 #FFF;
$cal-border:          #CCC;
$cal-header:          #FFF;
$cal-arrow:           #CCC;
$cal-arrow-hover:     #FFCC00;
$day:                 #FFF;
$day-txt:             #000;
$day-hover:           #FFCC00;
$day-selected:        #FFCC00;
$day-in-range:        #FFE992;
$day-other-month:     #DDD;
$other-month-txt:     #999;

$mon-yr-btn:          #FFF;
$mon-yr-btn-txt:      #000;
$mon-yr-btn-hover:    #FFCC00;

$action-console:      #FFF;
$action-border:       #CCC;
$action-btn:          #DDD;
$action-btn-txt:      #000;
$action-btn-border:   #CCC;
$action-btn-hover:    #EEE;

$mobile-touch-height: 35px;

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
  outline: 0 none;
}

.date-range-picker {
  position: relative;
  display: table;

  .input-wrapper {
    display: table;
    border: 1px solid #CCC;

    &.expandedStart .start-date-input,
    &.expandedEnd .end-date-input {
      color: #ff6600;
    }

    .start-date-input,
    .end-date-input {
      display: table-cell;
      height: 30px;
      width: 95px;
      padding: 0 5px;
      vertical-align: middle;;
      font-size: 14px;
      font-weight: bold;
      border: 0;

      &:hover {
        color: #ff6600;
      }
    }

    .separator {
      font-size: 14px;
      font-weight: bold;
    }

    .preset-trigger {
      display: table-cell;
      height: 30px;
      margin-right: -1px;
      border: 0;
      border-left: 1px solid #CCC;
      background-color: #EEE;
      font-size: 14px;
      font-weight: bold;
      vertical-align: middle;
    }
  }
}

.date-range-panel {
  position: absolute;
  left: 0;
  top: calc(100% - 1px);
  display: inline-block;
  border: 1px solid $panel-border;
  font-family: arial;
  background-color: $panel;
  box-shadow: 8px 8px 20px #DDD;

  min-width: 100%;
}

.calendars-console {

  .calendar {
    width: $cal-width;
    background-color: $cal;
  }

  .calendar-header {
    display: table;
    width: 100%;
    background-color: $cal-header;
    border-bottom: 1px solid $cal-border;

    button {
      display: table-cell;
      height: 25px;
      border: 0;
      vertical-align: middle;
      background-color: transparent;
    }

    .month-year {
      display: table-cell;
      width: 100%;
      text-align: center;

      button {
        padding: 0;
        font-weight: bold;
        font-size: 12px;
        color: $mon-yr-btn-txt;
      }
    }

    .btn-previous-month {

      &:before {
        content: "";
        display: block;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 5px solid $cal-arrow;
      }

      &:hover:before {
        border-right: 5px solid $cal-arrow-hover;
      }
    }

    .btn-next-month {

      &:before {
        content: "";
        display: block;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: 5px solid $cal-arrow;
      }

      &:hover:before {
        border-left: 5px solid $cal-arrow-hover;
      }
    }
  }

  .calendar-body {
    width: 100%;
    display: table;

    div:first-child .day {
      border-top: 0;
    }

    .week {
      display: table-row;
      width: 100%;
      clear: both;

      div:first-child {
        border-left: 0;
      }
    }

    .day {
      display: table-cell;
      height: 25px;
      width: calc(100% / 7);
      background-color: $day;
      border-left: 1px solid $cal-border;
      border-top: 1px solid $cal-border;
      vertical-align: middle;
      text-align: center;
      font-size: 11px;
      color: $day-txt;
      cursor: pointer;

      &:hover {
        background-color: $day-hover;
      }

      &.selected {
        background-color: $day-selected;
      }

      &.in-range {
        background-color: $day-in-range;
      }

      &.other-month {
        background-color: $day-other-month;
        color: $other-month-txt;
      }
    }

    .month,
    .year {
      float: left;
      height: calc(20px * 5);
      //width: calc(#{$cal-width} / 2);
      width: 100%;
      overflow-y: auto;

      button {
        width: 100%;
        height: 20px;
        display: block;
        float: left;
        clear: both;
        border: 0;
        border-bottom: 1px solid $cal-border;
        background-color: $mon-yr-btn;

        &:last-child {
          border: 0
        }

        &:hover {
          background-color: $mon-yr-btn-hover;
        }
      }
    }
  }
}

.button-console {
  padding: 8px;

  button {
    display: block;
    height: 25px;
    width: 100%;
    border: 1px solid $preset-btn-border;
    background-color: $preset-btn;
    margin-bottom: 8px;
    color: $preset-btn-txt;
    font-weight: bold;

    &:last-child {
      margin-bottom: 0;
    }

    &:hover {
      background-color: $preset-btn-hover;
    }
  }

  .presets-picker {
  }
}

.action-console {
  padding: 8px;
  background-color: $action-console;
  border-top: 1px solid $action-border;
  text-align: right;

  button {
    display: inline-block;
    height: 25px;
    border: 1px solid $action-btn-border;
    background-color: $action-btn;
    margin-left: 5px;
    color: $action-btn-txt;
    font-weight: bold;

    &:hover {
      background-color: $action-btn-hover;
    }
  }
}

@media (max-width: 480px) {

  .calendars-console {
    display: block;
    float: left;
    padding: 8px;

    .calendar {
      width: 100%;
      border: 1px solid $cal-border;
      margin: 0 0 8px 0;

      &:first-child {
        margin-right: auto;
      }
    }

    .calendar-header {
      display: table;
      width: 100%;
      border-bottom: 1px solid $cal-border;

      button {
        height: $mobile-touch-height;
        font-size: 14px;
      }

      .btn-previous-month {

        &:before {
          content: "";
          display: block;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-right: 8px solid $cal-arrow;
        }

        &:hover:before {
          border-right: 8px solid $cal-arrow-hover;
        }
      }

      .btn-next-month {

        &:before {
          content: "";
          display: block;
          border-top: 8px solid transparent;
          border-bottom: 8px solid transparent;
          border-left: 8px solid $cal-arrow;
        }

        &:hover:before {
          border-left: 8px solid $cal-arrow-hover;
        }
      }
    }

    .calendar-body {

      .day {
        height: $mobile-touch-height;
        font-size: 14px;
      }

      .month,
      .year {
        height: calc(#{$mobile-touch-height} * 5);

        button {
          height: $mobile-touch-height;
          font-size: 14px;
        }
      }
    }
  }

  .button-console {
    display: block;
    width: 100%;

    button {
      height: $mobile-touch-height;
      font-size: 14px;
      text-align: center;
      font-weight: bold;
    }
  }

  .action-console {
    float: left;
    width: 100%;

    button {
      width: calc(50% - 5px);
      height: $mobile-touch-height;
      font-size: 14px;

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
