.week {
  width: 100%;
  clear: both;
}

.day {
  display: block;
  float: left;
  height: 1.5em;
  width: calc(100%/7);
}

.day.selected {
  background-color: red;
}

.day.in-range {
  background-color: blue;
}

.right-calendar, .left-calendar {
  display: inline-block;
  margin-right: 75px;
}

.date-range-picker-input {
  width: calc(100%/7 - 37.5px);
  margin-bottom: 25px;
}

.presets-picker {
  display: inline-block;
}
