<div class="dp-year-picker">
  {{#if showInput}}
    {{input-mask value=rangeFormatted
                 greedy=false
                 mask="99[99]"
                 class="dp-date-input"
                 focus-in="toggleIsExpanded"
                 key-press="parseInput"
                 tabindex=1}}
  {{/if}}

  {{#if isExpanded}}
    <div class="dp-panel">
      <div class="dp-display-month-year">
        {{year-display startDate=startDate
                       endDate=endDate
                       hideButton=true
                       isExpanded=true
                       yearWasSelected="yearWasSelected"
                       ignoreMonthAndDay=true}}
      </div>

      <div class="dp-action-console">
        <button {{action "cancel"}} tabindex=1>Cancel</button>
        <button {{action "apply"}} class="dp-apply" tabindex=1>Apply</button>
      </div>
    </div>
  {{/if}}
</div>
